@model Frontend.Models.UserViewModel
@{

    ViewBag.Title = "Login";
}

<div class="container">
    <h1 class="card-title text-center">Iniciar sesi&oacute;n</h1>
    @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="col-md-12 mb-3">
                <label for="">Correo</label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "micorreo@mail.com", @id = "correo", type = "email", @style = "max-width: 100%" } })
            </div>
            <div class="col-md-12 mb-3">
                <label>Contraseña</label>
                @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "****************", @style = "max-width: 100%", Type = "password" } })
            </div>
            <div class="col-md-12 mb-2">
                <input type="submit" value="Inicia Sesion" class="btn btn-primary btn-block" />
            </div>
            <div class="col-md-12">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        </div>
    }
</div>
