
@{
    ViewBag.Title = "Registro";
}

<div class="container">
    <h2>Registro</h2>
    <form class="row">
        <div class="col-md-4 mb-3">
            <label for="validationCustom01">Nombre</label>
            <input type="text" class="form-control" id="validationCustom01" value="" required>

        </div>
        <div class="col-md-4 mb-3">
            <label for="validationCustom02">Apellido</label>
            <input type="text" class="form-control" id="validationCustom02" value="" required>

        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Correo electronico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="custom-file form-group mb-2">
                <input type="file" class="custom-file-input" id="customFileLangHTML">
                <label class="custom-file-label" for="customFileLangHTML" data-browse="Perfil">Seleccione su imagen de perfil</label>
            </div>
            <button type="submit" class="btn text-white btn-block mb-4 mt-1" style="background-color: #FF1D42">Registrarme</button>

        </div>



        <div class="col-sm-12 col-md-6 text-center">
            <img src="https://lh3.googleusercontent.com/proxy/37y2LpVKfMTtuuBCK_hDeFwl61ddS5hLRYpPF0W8VzqaEl4CjX8Vbjexz07k3OxXpK2RPNsBVHzOrWQH4GSi8kK0wg0-3rGn-xXdpf5YYUYU09Lr6xhmqQ" alt="responsive image" class="img-fluid" style="width:18rem" />
        </div>

    </form>
</div>


