@model Frontend.Models.UserViewModel

@{
    ViewBag.Title = "Panel de administración";
}

<div class="container">
    <h1>Administraci&oacute;n</h1>
    <h3>Panel de control</h3>

    <p>@Html.ActionLink("Crear publicación", "Create", "News")</p>

    <p>@Html.ActionLink("Listar publicaciónes", "Index", "News")</p>

    <h2>General</h2>

    <h3>Mis publicaci&oacute;nes favoritas</h3>

    <h3>Mis comentarios</h3>
</div>
