@model Frontend.Models.UserViewModel

@{
    ViewBag.Title = "Panel de administración";
}


    <div class="container">

        <div class="row">
            <div class="col-12 text-center mt-4">
                <div class="">
                    <img src="@Session["Image"]" alt="" class="shadow img-fluid btn bg-primary rounded-circle p-5" 
                         />
                </div>
            </div>
            <div class="col-12 text-center border-top m-2">
                <h2 class="mt-2">@Session["Name"] @Session["LastName"]</h2>


            </div>
        </div>

        <div class="container card p-2">
            <h4>Mi Panel de control</h4>


            <h4>Mis publicaci&oacute;nes favoritas</h4>



            <h4>Mis comentarios</h4>
        </div>




    </div>
